<div class="footer">
    <div class="about_us">
        <h3>Thông tin về chúng tôi:</h3>
        <a href="about_us.html">Thông tin các thành viên trong team</a>
        <h4 >đội ngũ phát triển , design : Hoàng Vĩnh</h4>
        <a href="about_this_website.html">Thông tin thêm về Website</a>
        <a href="ab"></a>
    </div>
    <div class="about_this_store">
        <h3>Về Teddy's Snack</h3>
        <a href="about_this_store.html">Cửa hàng Teady Shop</a>
        <h4>Địa chỉ : Hà Nội</h4>
        <h4>Hỗ trợ Ship toàn Việt Nam</h4>
    </div>
    <div class="email_subcribe">
        <h3>Nhận thông báo khi có sản phẩm mới</h3>
        <form>
            <input type="text" placeholder="Nhập Email của bạn ">
            <button>Đăng Kí</button>
        </form>
        <br>
        <a href = "mailto: abc@example.com">email cho chúng tôi</a>
    </div>
</div>