
<head>
	<link rel="stylesheet" href="/css/header.css">
</head>



<div class="nav">
        <div class="nav_logo" >
			<a href="/producte/create">
            <img src="img/logo.png" alt="" >
			</a>
            <a href="/">TEDDY'S SNACK</a>
        </div>
        <div class="searchbox">
                <input type="text" placeholder="find your snack">
                <button><i class="fa fa-search"></i></button>
            
        </div>
        <div class="menu">
            <div class="type">
                <div class="type_link">
                    <a href="/china">TRUNG QUỐC</a>
                </div>
            </div>
            <div class="type">
                <div class="type_link">
                    <a href="./nhatban.html">NHẬT BẢN</a>
                </div>
            </div>
            <div class="type">
                <div class="type_link">
                    <a href="thailan.html">THÁI LAN</a>
                </div>
            </div>
            <div class="type">
                <div class="type_link">
                    <a href="handmade.html">HANDMADE</a>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="cart_icon">
                <a href="gio_hang.html"><i class="fa fa-shopping-cart"></i></a>
                <div class="carthover">
                    <div class="carthover-iconx">
                        <p>không có gì trong giỏ hàng</p>
                        <p><i class="fa fa-times-circle"></i></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
</div>

<div class="linker" style="margin-bottom: 10px;"> 
    <div class="linker-link">
        <a href="/">Trang chủ </a>
    </div>
    <div class="login_signup">
        <a href="/login">Đăng Nhập </a>|<a href="/users"> Đăng Kí</a>
    </div>
</div>

<style>
.nav_logo {
display: flex;
margin: auto;
top: 5px;
left: 15px;
width: 376px; }

.nav_logo img {
height: 50px; }

.nav_logo a {
text-decoration: none;
letter-spacing: 5px;
font-weight: 700;
font-size: 2em;
color: white;
margin: auto;
white-space: nowrap; }
</style>