<div class="nav">
        <div class="nav_logo" >
            <img src="img/logo.png" alt="logo" >
            <a href="/">TEDDY'S SNACK</a>
        </div>
        <div class="searchbox">
                <input type="text" placeholder="find your snack">
                <button><i class="fa fa-search"></i></button>
            
        </div>
        <div class="menu">
            <div class="type">
                <div class="type_link">
                    <a href="/china">TRUNG QUỐC</a>
                </div>
            </div>
            <div class="type">
                <div class="type_link">
                    <a href="./nhatban.html">NHẬT BẢN</a>
                </div>
            </div>
            <div class="type">
                <div class="type_link">
                    <a href="thailan.html">THÁI LAN</a>
                </div>
            </div>
            <div class="type">
                <div class="type_link">
                    <a href="handmade.html">HANDMADE</a>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="cart_icon">
                <a href="gio_hang.html"><i class="fa fa-shopping-cart"></i></a>
                <div class="carthover">
                    <div class="carthover-iconx">
                        <p>không có gì trong giỏ hàng</p>
                        <p><i class="fa fa-times-circle"></i></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
</div>
    