<div class="product_mini_view" >
            <div class="product_window" onclick="location.href='TQBoKho.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/BoKhoUotTeCayTuXuyen.jpg" alt="candy">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >Bò khô ướt tế cay Tú Xuyên</p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">95.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:1098</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="product_window" onclick="location.href='TQCaKho.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/CaKhoQuangTay.jpg" alt="candy">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >Cá khô Quảng Tây</p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">54.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:1706</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="product_window" onclick="location.href='TQDauHaLan.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/DauHaLanQĐ.jpg" alt="candy">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p>Đậu hà lan Quảng Đông</p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">129.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:131</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="product_window" onclick="location.href='TQSuaDua.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/SuaDuaTAICOCO.jpg" alt="candy">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >Sũa dừa tươi Taicoco </p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">180.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:212</p>
                        </div>
                    </div> 
                </div>
            </div>
            
        </div>
        
        <div class="product_mini_view" >
            <div class="product_window" onclick="location.href='TQRauMuc.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/RauMucCay.jpg" alt="cookie">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >Râu mực cay</p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">78.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:312</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="product_window" onclick="location.href='TQSupBK.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/SupThamCamBacKinh.jpg" alt="cake">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >Súp thẩm cẩm Bắc Kinh </p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">190.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:169</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="product_window" onclick="location.href='TQThanhCay.html'" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/ThanhCay.jpg" alt="candy">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >Thanh cay </p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">80.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:172</p>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="product_window" onclick="location.href='TQChanGa.html';" style="cursor: pointer;">
                <div class="product_window-img">
                    <img src="img/changa.jpg" alt="candy">
                </div>
                <div class="product_window-content">
                    <div class="product_tittle">
                        <p >chân gà nhựa</p>
                    </div>
                    <div class="product_price_selled">
                        <div class="product_price">
                            <p class="price">275.000đ</p>
                        </div>
                        <div class="product_selled">
                            <p class="selled">đã bán:192</p>
                        </div>
                    </div> 
                </div>
            </div>
            
        </div>
        <div class="pagenav">
            <ul class="pagelist">
                &lt;
               <li>
                   <div class="pagelistbox"onclick="location.href='#';" style="cursor: pointer; " >
                       <a href="#">1</a>
                   </div>
                </li>
               <li>
                <div class="pagelistbox" onclick="location.href='#';" style="cursor: pointer;">
                    <a href="#">2</a>
                </div>
                </li>
               <li>
                   <div class="pagelistbox" onclick="location.href='#';" style="cursor: pointer;">
                       <a href="#">3</a>
                   </div>
                </li>
               <li>
                <div class="pagelistbox" onclick="location.href='#';" style="cursor: pointer;">
                    <a href="#">4</a>
                </div>
                </li>
            &gt;
           </ul>
        </div>
</div>