    <div class="cart">
        <div class="cart_icon">
            <a href="gio_hang.html"><i class="fa fa-shopping-cart"></i></a>
            <div class="carthover">
                <div class="carthover-iconx">
                    <p>không có gì trong giỏ hàng</p>
                    <p><i class="fa fa-times-circle"></i></p>
                </div>
            </div>
        </div>
    </div>
    <div class="mini_view" id="china">
        <a href="TQBoKho.html" id="face_ad">
            <img src="./img/BoKhoUotTeCayTuXuyen.jpg" alt="">
        </a>
        <a href="TQCaKho.html" id="norm_ad">
            <img src="./img/CaKhoQuangTay.jpg" alt="hauhau">
        </a>
        <a href="TQChanGa.html" id="norm_ad">
            <img src="./img/changa.jpg" alt="#">
        </a>
        <a href="TQDauHaLan.html" id="norm_ad">
            <img src="./img/DauHaLanQĐ.jpg" alt="#">
        </a>
        <a href="TQRauMuc.html" id="norm_ad">
            <img src="./img/RauMucCay.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Trung Quốc</span><br>
        Mùi vị đặc trưng<br>
        Cay nồng cuốn hút </p>
    </div>

    <div class="mini_view" id="japan">
        <a href="nhatbanmeijicacao.html" id="face_ad">
            <img src="./img/meijicacao.jpg" alt="">
        </a>
        <a href="nhatbanfujiya.html" id="norm_ad">
            <img src="./img/fujiya.jpg" alt="#">
        </a>
        <a href="nhatbanmoriangacookie.html" id="norm_ad">
            <img src="./img/fujiyaChoco.jpg" alt="#">
        </a>
        <a href="nhatbanfujiyapeanut.html" id="norm_ad">
            <img src="./img/moriangacandy.jpg" alt="#">
        </a>
        <a href="nhatbansanrotsu.html" id="norm_ad">
            <img src="./img/sanrotsu.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Nhật Bản</span><br>
        Chất lượng quốc tế<br>
        giàu dinh dưỡng , mùi vị </p>
    </div>

    <div class="mini_view" id="thailand">
        <a href="thailanBenTo.html" id="face_ad">
            <img src="./img/bento.jpg" alt="#">
        </a>
        <a href="thailanXoaiSayKho.html" id="norm_ad">
            <img src="./img/XoaiSayKho.jpg" alt="#">
        </a>
        <a href="thailanBimBimDuiGa.html" id="norm_ad">
            <img src="./img/BimBimDuiGa.jpg" alt="#">
        </a>
        <a href="thailanChuoiKho.html" id="norm_ad">
            <img src="./img/ChuoiKho.jpg" alt="#">
        </a>
        <a href="thailanKeoTraiCay.html" id="norm_ad">
            <img src="./img/KeoTraiCay.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Thái Lan</span><br>
        From Thai Lan with Love and delicious snack<br>
            </p>
    </div>

    <div class="mini_view" id="handmade">
        <a href="handmadebanhtrang.html" id="face_ad">
            <img src="./img/banhtrang.jpg" alt="#">
        </a>
        <a href="handmadechuoisay.html" id="norm_ad">
            <img src="./img/chuoisay.jpg" alt="#">
        </a>
        <a href="handmadehatdieu.html" id="norm_ad">
            <img src="./img/hatdieu.jpg" alt="#">
        </a>
        <a href="handmadehoaqua.html" id="norm_ad">
            <img src="./img/hoaqua.jpg" alt="#">
        </a>
        <a href="handmadekhoga.html" id="norm_ad">
            <img src="./img/khoga.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Bàn tay Việt Nam</span><br>
        Quy trình khép kín , an toàn , có đảm bảo vệ sinh an toàn thực phẩm <br>
            </p>
    </div>
</div>
