<div class="nav">
    <div class="nav_logo" >
        <img src="image/logo.png" alt="logo" >
        <a href="index.html">TEDDY'S SNACK</a>
    </div>
    <div class="searchbox">
            <input type="text" placeholder="find your snack">
            <button><i class="fa fa-search"></i></button>
    </div>
    <div class="menu">
        <div class="type">
            <div class="type_link">
                <a href="TrungQuoc.html">TRUNG QUỐC</a>
            </div>
        </div>
        <div class="type">
            <div class="type_link">
                <a href="./nhatban.html">NHẬT BẢN</a>
            </div>
        </div>
        <div class="type">
            <div class="type_link">
                <a href="thailan.html">THÁI LAN</a>
            </div>
        </div>
        <div class="type">
            <div class="type_link">
                <a href="handmade.html">HANDMADE</a>
            </div>
        </div>
    </div>
    <div class="cart">
        <div class="cart_icon">
            <a href="gio_hang.html"><i class="fa fa-shopping-cart"></i></a>
            <div class="carthover">
                <div class="carthover-iconx">
                    <p>không có gì trong giỏ hàng</p>
                    <p><i class="fa fa-times-circle"></i></p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="content">
    <div class="linker" style="margin-bottom: 10px;"> 
        <div class="linker-link">
            <a href="index.html">Trang chủ </a>
        </div>
        <div class="login_signup">
            <a href="Dang_nhap.html">Đăng Nhập </a>|<a href="Dang_ky.html"> Đăng Kí</a>
        </div>
    </div>
    
    <div class="mini_view" id="china">
        <a href="TQBoKho.html" id="face_ad">
            <img src="./image/BoKhoUotTeCayTuXuyen.jpg" alt="">
        </a>
        <a href="TQCaKho.html" id="norm_ad">
            <img src="./image/CaKhoQuangTay.jpg" alt="hauhau">
        </a>
        <a href="TQChanGa.html" id="norm_ad">
            <img src="./image/changa.jpg" alt="#">
        </a>
        <a href="TQDauHaLan.html" id="norm_ad">
            <img src="./image/DauHaLanQĐ.jpg" alt="#">
        </a>
        <a href="TQRauMuc.html" id="norm_ad">
            <img src="./image/RauMucCay.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Trung Quốc</span><br>
        Mùi vị đặc trưng<br>
        Cay nồng cuốn hút </p>
    </div>

    <div class="mini_view" id="japan">
        <a href="nhatbanmeijicacao.html" id="face_ad">
            <img src="./image/meijicacao.jpg" alt="">
        </a>
        <a href="nhatbanfujiya.html" id="norm_ad">
            <img src="./image/fujiya.jpg" alt="#">
        </a>
        <a href="nhatbanmoriangacookie.html" id="norm_ad">
            <img src="./image/fujiyaChoco.jpg" alt="#">
        </a>
        <a href="nhatbanfujiyapeanut.html" id="norm_ad">
            <img src="./image/moriangacandy.jpg" alt="#">
        </a>
        <a href="nhatbansanrotsu.html" id="norm_ad">
            <img src="./image/sanrotsu.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Nhật Bản</span><br>
        Chất lượng quốc tế<br>
        giàu dinh dưỡng , mùi vị </p>
    </div>

    <div class="mini_view" id="thailand">
        <a href="thailanBenTo.html" id="face_ad">
            <img src="./image/bento.jpg" alt="#">
        </a>
        <a href="thailanXoaiSayKho.html" id="norm_ad">
            <img src="./image/XoaiSayKho.jpg" alt="#">
        </a>
        <a href="thailanBimBimDuiGa.html" id="norm_ad">
            <img src="./image/BimBimDuiGa.jpg" alt="#">
        </a>
        <a href="thailanChuoiKho.html" id="norm_ad">
            <img src="./image/ChuoiKho.jpg" alt="#">
        </a>
        <a href="thailanKeoTraiCay.html" id="norm_ad">
            <img src="./image/KeoTraiCay.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Thái Lan</span><br>
        From Thai Lan with Love and delicious snack<br>
            </p>
    </div>

    <div class="mini_view" id="handmade">
        <a href="handmadebanhtrang.html" id="face_ad">
            <img src="./image/banhtrang.jpg" alt="#">
        </a>
        <a href="handmadechuoisay.html" id="norm_ad">
            <img src="./image/chuoisay.jpg" alt="#">
        </a>
        <a href="handmadehatdieu.html" id="norm_ad">
            <img src="./image/hatdieu.jpg" alt="#">
        </a>
        <a href="handmadehoaqua.html" id="norm_ad">
            <img src="./image/hoaqua.jpg" alt="#">
        </a>
        <a href="handmadekhoga.html" id="norm_ad">
            <img src="./image/khoga.jpg" alt="#">
        </a>
        
        <p><span id="label">Từ Bàn tay Việt Nam</span><br>
        Quy trình khép kín , an toàn , có đảm bảo vệ sinh an toàn thực phẩm <br>
            </p>
    </div>
</div>

<div class="footer">
    <div class="about_us">
        <h3>Thông tin về chúng tôi:</h3>
        <a href="about_us.html">Thông tin các thành viên trong team</a>
        <h4 >đội ngũ phát triển , design : Team Shiba</h4>
        <a href="about_this_website.html">Thông tin thêm về Website</a>
        <a href="ab"></a>
    </div>
    <div class="about_this_store">
        <h3>Về Teddy's Snack</h3>
        <a href="about_this_store.html">Về StartUp nhỏ của Tuấn</a>
        <h4>Ý tưởng làm web từ : Đỗ Tràng Tuấn</h4>
        <h4>Địa chỉ : Bắc Giang</h4>
        <h4>Hỗ trợ Ship toàn Việt Nam</h4>
    </div>
    <div class="email_subcribe">
        <h3>Nhận thông báo khi có sản phẩm mới</h3>
        <form>
            <input type="text" placeholder="Nhập Email của bạn ">
            <button>Đăng Kí</button>
        </form>
        <br>
        <a href = "mailto: abc@example.com">email cho chúng tôi</a>
    </div>
</div>