<head>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<div class="modal">
    <div class="over_lay"></div>
        <div class="login_form">
            <div class="login_form_header">
                <h3 class="txt_dang_nhap">
                    Đăng nhập
                </h3>
                <a href="/addAcount" class="link_dk">
                    Đăng ký
                </a>
            </div>
            <div class="dang_nhap_form_input">
                <div class="form_input">
                    <input type="text" class="input_dk" placeholder="Email/Số điện thoại/Tên đăng nhập">
                </div>
                <div class="form_input">
                    <input type="password" class="input_dk" placeholder="Mật khẩu">
                </div>
                <div class="form_input">
                    <a href="/">
                    <input type="button" class="input_dk btn" value="Đăng Nhập">
                    </a>
                </div>
            </div>
            <div class="out_link">
                <a href="quen_mk.html" class="quen_mk">Quên mật khẩu</a>
                <a href="dang_nhap_bang_SMS" class="dn_SMS">Đăng nhập bằng SMS</a>
            </div>
            <div class="hoac">
                HOẶC
            </div>
            <div class="group_btn">
                <button class=" btn_FB">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    FACEBOOK
                </button>
                <button class="btn_GG">
                    <i class="fa fa-google" aria-hidden="true"></i>
                    GOOGLE
                </button>
            </div>
    </div>
</div>