<head>
    <link rel="stylesheet" href="/css/dang_ky.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="modal">
    <div class="over_lay"></div>
        <div class="dang_ky_form">
            <div class="dang_ky_form_1">
                <div class="dang_ky_form_header">
                        <h3 class="txt_dang_ky">ĐĂNG KÝ</h3>
                        <button class="but_dang_nhap">
                            <a class = " but_dang_nhap"href="/login">
                                Đăng nhập
                            </a>
                        </button>
                </div>
            <form method="POST" action="/register/addAcount">
                <div class="dang_ky_form_input">
                    <div class="form_input">
                        <input type="text" name="name" class="input_dk" placeholder="Nhập tên đăng nhập của bạn">
                    </div>
                    <div class="form_input">
                        <input type="text" name="pass" class="input_dk" placeholder="Nhập mật khẩu của bạn">
                    </div>
                    <div class="form_input">
                        <input type="text" class="input_dk" placeholder="Nhập lại mật khẩu của bạn">
                    </div>
                </div>
                <div class="dang_ky_form_dieu_kien">
                    <p class="dieu_kien_text">
                        Bằng việc đăng ký, bạn đã đồng ý với chúng tôi về
                        <a href="#" class="dieu_kien_link">
                            điều khoản dịch vụ
                        </a> &
                        <a href="" class="dieu_kien_link">
                            chính sách bảo mật
                        </a>
                    </p>
                </div>
                <div class="dang_ky_form_group_buttom">
                    <button class="btn" onclick="window.location.href='/login'">
                        TRỞ LẠI
                    </button>
                    <button type = "submit" class="btn btn_dang_nhap">
                        ĐĂNG KÝ
                    </button>
                </div>
            </form>
            </div>
        </div>
</div>
